.container {
  width: 95%;
  margin: auto;
  padding: 1px;
  background: white;
}

.leftDivMisc {
  width: calc(50% - 5px);
  overflow: scroll;
  float: left;
  background-color: white;
}
.rightDivMisc {
  width: calc(50% - 5px);
  overflow: scroll;
  background-color: white;
  margin-left: calc(50% + 5px);
}

.leftDiv {
  width: calc(50% - 5px);
	height: 600;
  overflow: scroll;
  float: left;
  background-color: #eee;
}
.rightDiv {
  width: calc(50% - 5px);
	height: 600;
  overflow: scroll;
  background-color: #eee;
  margin-left: calc(50% + 5px);
}

#topBar {
  height: 20px;
  margin: auto;
  padding-left: 35px;
}

.toolBar {
  width: calc(50% - 5px);
  margin: auto;
  height: 50px;
  text-align: center;
}

.tooltip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.listDropdown {
}

.plot {
  position: absolute;
}

.country {
    fill: pink;
    stroke: #fff;
    stroke-linejoin: round;
  }
  .legendThreshold {
      font-size: 12px;
      font-family: sans-serif;
  }
  .caption {
      fill: #000;
      text-anchor: start;
      font-weight: bold;
  }
  .fill {
  fill: #fff;
}

.node circle {
    fill: #fff;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

table, th, td {
  border: 1px solid black;
  float: center;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}
