.container {
  width: 90%;
  height: 800px;
  margin: auto;
  padding: 10px;
  background: aqua;
}

.topDiv {
  width: 48%;
  height: 600px;
  background-color: #eee;
  overflow: scroll;
  float: left;
}
.bottomDiv {
  margin-left: 52%;
  height: 600px;
  background-color: #eee;
  overflow: scroll;
}

.plot {
  position: absolute;
}

.country {
    fill: pink;
    stroke: #fff;
    stroke-linejoin: round;
  }
  .legendThreshold {
      font-size: 12px;
      font-family: sans-serif;
  }
  .caption {
      fill: #000;
      text-anchor: start;
      font-weight: bold;
  }
  .fill {
  fill: #fff;
}

.node circle {
    fill: #fff;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
