<link rel="stylesheet" type="text/css" href="../static/main.css">
<!-- scripts -->
<!DOCTYPE html>
<html lang="en">

<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>

<head>
    <meta charset="utf-8">
		<script>var _meshData = {{ data.mesh | safe }};</script>
		<script>var _articleData = {{ data.articles | safe }};</script>
		<script>var _meshToArticles = {{ data.mesh_to_pmids | safe }};</script>
</head>
<body>
    <form action="">
      <input type="radio" name="gender" value="" onclick="drawTree();"> Tree
      <input type="radio" name="gender" value="" onclick="drawList();"> List
    </form>
  <input name="meshButton" type="button" id="meshButton" value="Set Root Mesh" onclick="setRootMesh()"/>
  <input name="meshNode" type="text" maxlength="512" id="meshNode" value=""/>
  <div id='top_div'>
  </div>
    <form action="">
      <input type="radio" name="gender" value="" onclick="drawMap();"> Map
      <input type="radio" name="gender" value="" onclick="drawTime();"> Time
    </form>
  <div id='bottom_div'>
  </div>

	<script src="{{url_for('static', filename='utils.js')}}"></script>
	<script src="{{url_for('static', filename='mesh_tree.js')}}"></script>
	<script src="{{url_for('static', filename='mesh_list.js')}}"></script>
	<script src="{{url_for('static', filename='years.js')}}"></script>
	<script src="{{url_for('static', filename='countries.js')}}"></script>
	<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
