<link rel="stylesheet" type="text/css" href="../static/main.css">
<!-- scripts -->
<!DOCTYPE html>
<html lang="en">

<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>

<head>
    <meta charset="utf-8">
		<script>console.log('pulling data from python');</script>
		<script>var _meshData = {{ data.mesh | safe }};</script>
		<script>var _articleData = {{ data.articles | safe }};</script>
		<script>var _meshToArticles = {{ data.mesh_to_pmids | safe }};</script>
		<script>console.log('done!');</script>
</head>

<body>
  <div class="container" id="topBar">
    <!--<input name="resetButton" type="button" id="resetButton" value="Reset All Filters" onclick="resetData()"/>-->
    <!--<input name="meshButton" type="button" id="meshButton" value="Set Root Mesh" onclick="setRootMesh()"/>-->
    <!--<input name="meshNode" type="text" maxlength="512" id="meshNode" value=""/>-->
    <span id="filterStats">[247880 Articles] [4758 Mesh] Current filters: </span>
	</div>

	<div border-bottom="10px" class="container">
		<div class="leftDivMisc">
      <input type="button" id="treeButton" value="Tree" onclick="drawTree();"/>
      <input type="button" id="listButton" value="List" onclick="drawList();"/>
      <input type="button" id="parentRoot" value="Move Root Up" onclick="setParentRoot();"/>
      <span id='listDropdownText'>   Sort order:</span>
      <select id="listDropdown" onchange="listDropdownChanged()">
        <option value="0"># Articles</option>
        <option value="1">Bias</option>
        <option value="2">Bias (F)</option>
        <option value="3">Bias (M)</option>
      </select>
		</div>
		<div class="rightDivMisc">
      <input type="button" id="mapButton" value="Map" onclick="drawMap();"/>
      <input type="button" id="timeButton" value="Time" onclick="drawTime();"/>
    </div>
  </div>

  <div class="container">
    <div id='left_div' class="leftDiv"></div>
		<div id='right_div' class="rightDiv"></div>
  </div>

  <div class="container">
    <div id='toolBar_div' class="toolBar"></div>
  </div>

	<script src="{{url_for('static', filename='utils.js')}}"></script>
	<script src="{{url_for('static', filename='toolbar.js')}}"></script>
	<script src="{{url_for('static', filename='mesh_tree.js')}}"></script>
	<script src="{{url_for('static', filename='mesh_list.js')}}"></script>
	<script src="{{url_for('static', filename='years.js')}}"></script>
	<script src="{{url_for('static', filename='countries.js')}}"></script>
	<script src="{{url_for('static', filename='main.js')}}"></script>
	<script>init()</script>
</body>
</html>
